<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="productrestriction" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Restriction Settings</label>
            <tab>general</tab>
            <resource>PF_ProductRestriction::config_productrestriction</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Product Restriction</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the product restriction functionality.</comment>
	        </field>
		<field id="restricted_category_ids" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Restricted Categories</label>
                    <source_model>PF\ProductRestriction\Model\Config\Source\Category</source_model>
                    <comment>Select categories to restrict products from being added to the cart.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
